body {
    background-color: #2b5da7;
    color: white;
    font-family: 'Karla', sans-serif;
}

h1, h3 {
    font-family: 'Space Mono', monospace;
}

.page-header {
    text-align: center;
}

/* Navigation */
.navbar {
    margin-bottom: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 100;
    letter-spacing: 8px;
    /* -webkit-transform: rotate(1deg); /* Safari */    
    /* transform: rotate(1deg); */
}

.nav-tabs {
    margin-right: 20px;
    border-bottom: none;
}

.nav-tabs li.active {
    margin: 0 10px;
    font-weight: 900;
}

.nav-tabs li.active a {
    background-color: #A88148;
    color: #000;
    padding: 15px 50px;
}

.nav-tabs li.active a:hover {
    background-color: #ca9b57;
    color: #000;    
}

.nav-tabs li a {
    background-color: #ca9b57;
    color: #000;
    padding: 15px 50px;
    border-bottom: 1px #ddd solid;    
}

.nav-tabs li a:hover {
    background-color: #A88148;
    border-bottom: none;
    font-weight: 900;
}

/* Game Folder */
.game-folder {
    background-color: #A88148;
    margin-top: -2px;
    height: 25em;
    border-radius: 15px 15px 0px 0px;
    border: 1px #ddd solid;
    box-shadow: 0 0 50px rgba(33, 33, 33, .7);
}

.game-folder-front {
    background-color: #CA9B57;
    margin-top: 20px;
    height: 50em;
    border-radius: 15px 15px 0px 0px;
    border: 1px #ddd solid;
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
}

#mission {
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    opacity: .7;
}

#name {
    position: absolute;
    bottom: 0;
    right: 40px;
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    opacity: .7;
}

/* Game Hangman Panel */
.hangman-paper {
    width: 90%;
    /* height: 90%; */
    margin: 0 auto;
    padding: 6px 5px 4px 42px;
    position: relative;
    color: #000;
    text-align: center;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07); */
    /* -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07); */
    height: 650px;
    margin-top: 20px;
    -webkit-transform: rotate(2deg); /* Safari */
    transform: rotate(2deg);
    box-shadow: 10px 10px 17px rgba(33, 33, 33, .7);    
}

.hangman-paper:before {
    content: '';
    position: absolute;
    width: 6px;
    top: 0;
    left: 50px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.hangman-paper img {
    width: 75%;
    margin-top: 20px;
}

/* Game Sticky Note Panel */
.game-sticky {
    text-align: center;
    border: 1px dashed white;
    background: #ffffcc;
    color: #000;
    width: 100%;
    height: 550px;
    -webkit-transform: rotate(-4deg); /* Safari */
    transform: rotate(-4deg);
    box-shadow: 15px 15px 17px rgba(33, 33, 33, .7);
    margin-top: 40px;
}

.game-sticky h3 {
    text-decoration: underline;
}

#btnLetter-container {
    padding: 15px;
}

.btnLetter {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 20px;
    padding: 2px;
    margin: 5px;
    border-radius: 50%;
    border: black 2px solid;
}

.btnLetter:hover {
    cursor: pointer;
    background-color: lightgray;
}

#lblUsed-container {
    height: 40px;
}

.lblUsed {
    display: inline-block;
    text-align: center;
    font-size: 18pt;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin: 3px;
}

#guessesRemaining, #totalLosses, #totalWins {
    font-size: 18pt;
    font-family: 'Karla', sans-serif;
}

/* Puzzle Letter */
.space {
    display: inline-block;
    text-align: center;
    font-size: 16pt;
    width: 20px;
    height: 30px;
    margin: 10px;
    color: #000;
}

.letter {
    border-bottom: solid #000 2px;
}

#currentWord-container {
    margin: 0 auto;
}